{% extends 'base.html' %}

{% block body %}
<marquee style="font-size:30px;">
  welcome to my first django's project
</marquee>
<br>
<br>
<center>
  <br>
<br>
<h1> CLICK HERE 👇 FOR LOGIN </h1>
<br>

<a href="/contact">
<button type="button" class="btn btn-info">CLICK</button></a>
</center>
<div class="container-fluid my-4">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active"> 

      <img src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?w=2000" class="d-block w-100" alt="...">
 
    </div>
    <div class="carousel-item">

      <img src="https://img.freepik.com/premium-photo/dewy-meadow-dawn-sunrise-sunset-most-beautiful-natural-scenery-wallpaper-background_327903-763429.jpg" class="d-block w-100" alt="...">
  
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEIySeNMAkLzzotXgOr32GzBneDQ2X0JEpUSIuT9ta-HIw-3wHcQrDHnnlUizy0LIC7J4&usqp=CAU" class="d-block w-100" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div>
</div>

{% endblock body%}